.container {
  flex-wrap: wrap;
  display: flex;
  width: 120px;
  height: 120px;
  background-color: #00ffff;
  border: 10px solid #0000ff;
}

.item
 {
  flex: 1;
}

.flex-start {
  align-content: flex-start;
}

.flex-end {
  align-content: flex-end;
}

.flex-center {
  align-content: center;
}

.flex-strecht {
  align-content: stretch;
}

.space-between {
  align-content: space-between;
}

.space-around {
  align-content: space-around;
}

.space-evenly {
  align-content: space-evenly;
}
