.container {
  height: 130px;
  flex-wrap: wrap;
  display: flex;
  width: 120px;
  height: 120px;
  background-color: #00ffff;
  border: 10px solid #0000ff;
}

.container.flex-start .item,
.container.flex-end .item,
.container.center .item,
.container.strecht .item {
  flex: 1;
}

.container.flex-start {
  align-content: flex-start;
}

.container.flex-end {
  align-content: flex-end;
}

.container.flex-center {
  align-content: center;
}

.container.flex-strecht {
  align-content: stretch;
}

.container.space-between {
  align-content: space-between;
}

.container.space-around {
  align-content: space-around;
}

.container.space-evenly {
  align-content: space-evenly;
}
